@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Muli', sans-serif;
    overflow: hidden;
    margin: 0;
    height: 110vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("https://assets.community.lomography.com/a6/3f7bc7ddef48fed52ac36e1c45af1d62b1bab5/1216x684x2.jpg?auth=1b15767142a80ec6ceb767f5988ef2422a6e47a4");
    background-size: cover;
}

.container{
    width: 100%;
    display: flex;
    padding: 0 30px;
}

.slide{
    height: 80vh;
    border-radius: 10px;
    margin: 5px;
    cursor: pointer;
    color: aliceblue;
    flex: 1;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    transition: all 350ms ease-in-out;
}

.slide h3{
    position: absolute;
    font-size: 24px;
    bottom: 20px;
    right: 20px;
    margin: 0;
    opacity: 0;
}

.slide h5{
    position: absolute;
    font-size: 24px;
    top: 20px;
    left: 20px;
    margin: 0;
    opacity: 0;
}

.slide.active {
    flex: 6;
}

.slide.active h3 {
    opacity: 1;
    transition: opacity 0.1s ease-in 0.4s;
}
.slide.active h5 {
    opacity: 1;
    transition: opacity 0.3s ease-in 0.7s;
}